@model CinemaPOS.Models.Actividades
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}
@*<script src="~/Content/DateTimePicker/jquery.datetimepicker.full.min.js"></script>*@
@*<link href="~/Content/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />*@
<link href="~/Content/Actividades.min.css" rel="stylesheet" />
<link href="~/Content/js/Calendar/fullcalendar.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="~/Content/js/Calendar/fullcalendar.min.js"></script>
<script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<div id="Dialog"></div>
<div>
    <p>
        <a class="btn btn-success" href='@Url.Action("ListadoActividades", "CRM")'>Vista Actividades</a>
    </p>
</div>
<div class="panel panel-dark">
    <!--Panel heading-->
    <div class="panel-heading">
        <div class="panel-control">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#info" >Informaci&oacute;n General</a></li>
                <li class=""><a data-toggle="tab" href="#calendar" onclick="javascript:consultarCalendar()">Calendario</a></li>
            </ul>

        </div>
        <h3 class="panel-title">Actividades</h3>
    </div>

    <!--Panel body-->
    <div class="panel-body">

        <!--Tabs content-->
        <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
                <h4>Informaci&oacute;n General</h4>
                <hr />
                <form id="formActividad" name="formActividad" onkeypress="if(event.keyCode==8)return false;"  onsubmit="return false" enctype="multipart/form-data">
                    <div class="row">
                        <input type="hidden" name="rowID" value="@Model.rowID" />
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="ASUNTO">*Asunto:</label>
                                <input type="text" name="asunto" value="@Model.asunto" required class="form-control" id="asunto"  maxlength="50"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="TIPOACT">*Tipo Actividad:</label>
                                <select name="tipoActividadID" required id="tipoActividadID">
                                    <option value="" selected disabled>Seleccione una Opci&oacute;n</option>
                                    @foreach (var item in (List<CinemaPOS.Models.Opcion>)ViewBag.TipoAct)
                                    {
                                        if (Model.tipoActividadID == item.RowID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="FECHAINICIO">*Fecha Inicio:</label>
                                <input type="text" name="fechaInicio" value="@Model.fechaInicio" id="fechaInicio" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="FECHAINICIO">Fecha Fin:</label>
                                <input type="text" name="fechaFin" value="@Model.fechaFin" id="fechaFin" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="TIPOACT">*Tipo Referencia:</label>
                                <select name="tipoReferenciaID" required id="tipoReferenciaID" class="form-control">
                                    <option value="" selected disabled>Seleccione una Opci&oacute;n</option>
                                    @foreach (var item in (List<CinemaPOS.Models.Opcion>)ViewBag.tipoRef)
                                    {
                                        if (Model.tipoReferenciaID == item.RowID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }   
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="REFERENCIADO_A">*Referenciado a:</label>
                                <input type="hidden" name="referencia" value="@Model.referenciado_a" id="ReferenciaHidden" />
                                <div class="input-group">
                                    <input type="text" name="referenciado_a" value="@Model.referenciado_a" id="referenciado_a" class="form-control" required />
                                    <span class="ion-search input-group-addon" id="modal_ref" onclick="javascript:Modal_Referenciado_A()" style="cursor:pointer"></span>
                                    <span class="ion-close-round input-group-addon" id="clear" onclick="$('#referenciado_a').val('')" style="cursor:pointer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="PRIORIDAD">*Prioridad:</label>
                                <select name="prioridadID" id="prioridadID" required>
                                    <option value="" selected disabled>Seleccione una Opci&oacute;n</option>
                                    @foreach (var item in (List<CinemaPOS.Models.Opcion>)ViewBag.Prioridad)
                                    {
                                        if (Model.prioridadID == item.RowID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>}
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>}
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="ESTADOS">*Estado:</label>
                                <select name="estadoID" id="estadoID" required>
                                    <option value="" selected disabled>Seleccione una Opci&oacute;n</option>
                                    @foreach (var item in (List<CinemaPOS.Models.Estado>)ViewBag.Estados)
                                    {
                                        if (Model.estadoID == item.RowID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>}
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>}
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="DESCRIPCION">*Descripci&oacute;n:</label>
                                <textarea name="descripcion" id="descripcion" placeholder="---" class="form-control">@Model.descripcion</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Archivo Adjunto:</label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        @if (Model.rowID != 0)
                                        {

                                            <img src="@Model.Adjunto" alt="" name="Archivo" id="Archivo">
                                        }
                                        else
                                        {
                                            <img src="~/Repositorio_Imagenes/Imagenes_Generales/ImagenNoDisponible.png"  name="Archivo" id="Archivo"/>
                                        }
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                                    </div>
                                    <div>
                                        <span class="btn btn-file">
                                            <span class="fileupload-new">Seleccionar Imagen</span>
                                            <span class="fileupload-exists">Cambiar</span>
                                            <input type="file" accept="image/jpeg,image/png,image/gif" class="default image_invoice_clone" name="afiche">
                                        </span>
                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="submit" name="guardar" value="Guardar" onclick="jascript:GuardarActividad()" id="guardar" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="calendar">
                <div id="calendario"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function consultarCalendar() {
        debugger
        CargarCalendar();
    }
    $(document).ready(function () {
        ModalProcesandoShow();
        debugger
        if ($("#fechaInicio").val() == "01/01/0001 0:00:00") {
            $("#fechaInicio").val('');
        }
        $("input[class=fc-month-button]").click(function () { });
        CargarCalendar();
        jQuery("#tipoActividadID").chosen({ width: "100%;" });
        jQuery("#tipoReferenciaID").chosen({ width: "100%;" });
        jQuery("#prioridadID").chosen({ width: "100%;" });
        jQuery("#estadoID").chosen({ width: "100%;" });

        $('#fechaInicio').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: false
        });
        //$.datetimepicker.setLocale('es');
        //$('#fechaInicio').datetimepicker({
        //         dayOfWeekStart: 1,
        //         lang: 'es',
        //         minDate: 0,
        //         timepicker: false,
        //         startDate:0
        //     });
        $('#fechaFin').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: false
        });
        ModalProcesandoHiden();
    });

    function Modal_Referenciado_A() {
        if ($("#tipoReferenciaID").val() == null || $("#tipoReferenciaID").val() == undefined || $("#tipoReferenciaID").val() == "") {
            Alerts("Seleccione el tipo de referencia.", "warning");
        }
        else {
            //ModalProcesandoShow();
            var ur = $("#tipoReferenciaID").val();
            var urlWithCont = '../CRM/ModalReferenciado?t_referencia=' + $("#tipoReferenciaID").val() + '';
           // $("#Dialog").load(urlWithCont.trim()).dialog('open');
            $("#Dialog").load(urlWithCont.trim())
            ModalProcesandoShow();
        }
    }

    function CargarCalendar() {
        ModalProcesandoShow();
        $('#calendario').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'Hoy',
                month: 'Mes',
                week: 'Semana',
                day: 'Dia'
            },
            //Random default events
            events: '/CRM/GetEvents',
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            dayClick: function (start, end, allDay) {
            },
            eventClick: function (calEvent, jsEvent, view) {
                var id = calEvent.id;
            },
            eventDrop: function (event, allDay) { // this function is called when something is dropped
                var id = event._id;
                var data = allDay._data;
                EditEvento(id, data)
            }
        });
        ModalProcesandoHiden();
    }
    function valida_formulario() {
        hasChangue = false;
        var validator = $("#formulario_pelicula").validate();
        if (validator.form()) {
            enviar_formulario();
        }
    }
    function GuardarActividad() {
        ModalProcesandoShow();
        debugger
        $("#formActividad").on("submit", function (e) {
            e.preventDefault();
            var f = $(this);
            var formData = new FormData(document.getElementById("formActividad"));
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: "/CRM/GuardarActividad",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        debugger
                        if (data == '"Error"') {
                            swal("ERROR", "Surgio un problema al guardar los datos.", "error");
                            ModalProcesandoHiden();
                            return;
                        } else {
                            debugger
                            swal("", "Datos Guardados Correctamente", "success");
                            debugger
                            location.href = '/CRM/Actividades?rowid=' + data;
                            ModalProcesandoHiden();
                        }
                        ModalProcesandoHiden();
                    },
                    error: function (data) {
                        debugger
                        swal("ERROR", "Surgio un problema al guardar los datos.", "error");
                    }
                });
        });
    }
</script>
<script>
    $(document).ready(function () {
        if ("@Model.estadoID" == "@CinemaPOS.ModelosPropios.Util.Constantes.ACTIVIDAD_CERRADA") {
            if ("@ViewBag.rol"!="@CinemaPOS.ModelosPropios.Util.Constantes.ROL_ADMINISTRADOR") {
                $("#asunto").attr("disabled", "disabled");
                $("#tipoActividadID").attr("disabled", "disabled");
                $("#fechaInicio").attr("disabled", "disabled");
                $("#tipoReferenciaID").attr("disabled", "disabled");
                $("#prioridadID").attr("disabled", "disabled");
                $("#descripcion").attr("disabled", "disabled");
                $("#estadoID").attr("disabled", "disabled");
                $("#guardar").attr("disabled", "disabled");
            } else {
            }
        }
    });
</script>