@model IEnumerable<CinemaPOS.Models.TipoMenu>
@{
    ViewBag.Title = "Vista TipoMenu";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}



<head>
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="~/Content/js/demo/tables-datatables.js"></script>
</head>
<p>
    <a class="btn btn-success" href="@Url.Action("TipoMenu","Perfil")">Adicionar TipoMenu</a>
    <a class="btn btn-success" href='@Url.Action("VistaMenu", "Perfil")'>Vista Menu</a>
</p>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Tipo Menu</h3>
    </div>
    <div class="panel-body">
        <table id="demo-dt-basic" class="table table-striped table-bordered table-funcion">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Creado por</th>
                    <th>Orden</th>
                    
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CinemaPOS.Models.TipoMenu TipoMenu in ViewBag.TipoMenu)
                {
                    <tr>
                        <td>@TipoMenu.RowID</td>
                        <td>@TipoMenu.Nombre</td>
                        <td>@TipoMenu.CreadoPor</td>
                        <td>@TipoMenu.Orden</td>
                       
                        @if (TipoMenu.Activo == true)
                        {
                            <td>SI</td>
                        }
                        else
                        {
                            <td>NO</td>

                        }
                        
                        <td><a href="@Url.Action("Menu", "Perfil", new { RowID_Lista = TipoMenu.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
