@model CinemaPOS.Models.LoginViewModel
@{
    Layout = null;
}

<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">*@
    <title>Login</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css" media="all" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    @*<script src="~/Assets/js/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/js/jquery/ui/jquery-ui.js"></script>*@
    <script src="~/Content/js/bootstrap.min.js"></script>
    <link href="~/Content/img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>


    <div class="vid-container">
        <div class="inner-container">
            <!-- Aquí también va el fondo -->
            <!-- <img class="bgvid inner" src="img/fondo-2.png"> -->
            <div class="box">
                <div id="logo">
                    <img src="~/Content/img/LogoRoyalFilms.png" />
                </div>
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.LabelFor(a => a.NombreUsuario)*@
                    @Html.TextBoxFor(a => a.NombreUsuario, new { placeholder = "Nombre de usuario" })
                    @*<p>@Html.ValidationMessageFor(a => a.NombreUsuario, "El usuario es requerido.")</p>*@
                    @*@Html.LabelFor(a => a.Password)*@
                    @Html.PasswordFor(a => a.Contraseña, new { placeholder = "Contraseña" })
                    @*<p>@Html.ValidationMessageFor(a => a.Password, "El usuario es requerido.")</p>*@
                    <button type="submit">Ingresar</button>
                    @Html.ValidationSummary("")
                }
            </div>
        </div>
    </div>
</body>
