@model CinemaPOS.Models.Sala
@{
    ViewBag.Title = "MapaSala";
    // Layout = "~/Views/Inicio/Diseño.cshtml";
}
<!--STYLESHEET-->
<!--=================================================-->
<!--Open Sans Font [ OPTIONAL ]-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

<!--Bootstrap Stylesheet [ REQUIRED ]-->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

<!--Nifty Stylesheet [ REQUIRED ]-->
<link href="~/Content/css/nifty.min.css" rel="stylesheet">

<!--Nifty Premium Icon [ DEMONSTRATION ]-->
<link href="~/Content/css/demo/nifty-demo-icons.min.css" rel="stylesheet">

<!--Demo [ DEMONSTRATION ]-->
<link href="~/Content/css/demo/nifty-demo.min.css" rel="stylesheet">

<!--Morris.js [ OPTIONAL ]-->
@*<link href="~/Content/plugins/morris-js/morris.min.css" rel="stylesheet">*@

<link href="~/Content/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Content/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

<!--JAVASCRIPT-->
<!--=================================================-->
<!--Pace - Page Load Progress Par [OPTIONAL]-->
<link href="~/Content/plugins/pace/pace.min.css" rel="stylesheet">
<script src="~/Content/plugins/pace/pace.min.js"></script>

<!--jQuery [ REQUIRED ]-->
<script src="~/Content/js/jquery-2.2.4.min.js"></script>

<!--BootstrapJS [ RECOMMENDED ]-->
<script src="~/Content/js/bootstrap.min.js"></script>

<!--NiftyJS [ RECOMMENDED ]-->
<script src="~/Content/js/nifty.min.js"></script>

<!--=================================================-->
<!--Demo script [ DEMONSTRATION ]-->
<script src="~/Content/js/demo/nifty-demo.min.js"></script>

<!--Morris.js [ OPTIONAL ]-->
@*<script src="~/Content/plugins/morris-js/morris.min.js"></script>
    <script src="~/Content/plugins/morris-js/raphael-js/raphael.min.js"></script>*@

<!--Sparkline [ OPTIONAL ]-->
<script src="~/Content/plugins/sparkline/jquery.sparkline.min.js"></script>
@*<link href="~/Content/css/EstiloBoleta.css" rel="stylesheet" />*@
<script src="~/Content/js/jquery.PrintArea.js"></script>

<!--Specify page [ SAMPLE ]-->
@*<script src="~/Content/js/demo/dashboard.js"></script>*@

<style>
    .disabled{
        cursor: not-allowed;
    }
</style>

<link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
<script src="~/Content/plugins/chosen/chosen.jquery.min.js"></script>
<script src="~/Content/plugins/blockUI/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {


        $("#myModal1").modal('show')})
    function asignar_nombres() {
        var fila = "";
        var cantidadfila=$(".cantidad_fila").val();
        var cantiadcolumna=$('.cantidad_columna').val() ;
        for (var i = 0; i < cantidadfila ; i++) {
            var numero = 1;
            for (var j = 0; j < cantiadcolumna ; j++) {

                if (j >= 27) {
                    fila = String.fromCharCode(0 + 97) + String.fromCharCode((i - 26));
                }
                else {
                    fila = String.fromCharCode((96+parseInt( $('.cantidad_columna').val())) - i);
                }
                if ($(".posicion_objeto" + i + "_" + j + "").find(".tipo_silla").length) {
                    $(".posicion_objeto" + i + "_" + j + " small").empty().append(fila.toUpperCase() + "-" + numero);
                    $(".posicion_objeto" + i + "_" + j + " .posicion_columna"+ i + "_" + j +" ").remove();
                    $(".posicion_objeto" + i + "_" + j + "").append("<input type='hidden' class='posicion_columna"+ i + "_" + j +"' name='posicion_columna"+ i + "_" + j +"' value='"+fila.toUpperCase()+"' />");
                    numero = numero + 1;
                }

            }

        }
    }
    function CargarMapaSala(){
        $.ajax({
            type:"POST",
            url:"/POS/Get_Mapa_Sala",
            data:{
                RowID_Sala:@Request.Params["RowID_Sala"].ToString(),
                RowID_Funcion:@ViewBag.Funcion.RowID,
            },
            success:function(data){
                $("#esquema_mapa").empty().append(data);
                asignar_nombres();
            },
            error:function(){
                swal("Error", data, "error");
            }
        })
    }
    function crear_esquema_sala() {
        $.ajax({
            type: "POST",
            url: "/Maestro/MapaSala",
            data: {
                filas: $(".cantidad_fila").val(),
                columnas: $(".cantidad_columna").val(),
                RowID_Sala: $(".RowID_Sala").val(),
            },success:function(){location.reload();}
        });
        $("#esquema_mapa").empty();

        CargarMapaSala();
        asignar_nombres();
    }
    function asignar_silla(clase) {
        crear_sillas(clase);
    }
    $(document).ready(function () {
        console.clear();
        var fila = '';
        var clase = "";
        for (var i = $(".cantidad_columna").val()-1; i >=0; i--) {
            for (var j = $(".cantidad_fila").val()-1; j >=0; j--) {
                if (i >= 26) {
                    fila = String.fromCharCode(0 + 97) + String.fromCharCode(i + 97);
                }
                else {
                    fila = String.fromCharCode(i + 97);
                }
                $(".fila_"+i+" .posicion_objeto" + i + "_" + j + "").append("<strong><small>" + fila.toUpperCase() + "</small></strong>");
            }

        }
        asignar_nombres();
        CargarMapaSala();
    })
    function vender_silla(element){
        debugger
        if ($('#multiple-seleccion').is(":checked"))
        {
            var id=$(element).attr("id");
            var cantidad_venta=$("#cantidad-ventas").val();
            var seleccionadas=0;
            if ($('.Seleccionada').length==$("#cantidad-ventas").val()) {
                $('.Seleccionada').each(function(element){
                    $(element).removeAttr("class");
                    $(element).removeAttr("style");
                })
                    
                }
            
            else{
                while($('.Seleccionada').length<cantidad_venta){
                var id_busqueda=parseInt(id)+seleccionadas;
                if ($('.Seleccionada').length<= $("#cantidad-ventas").val()) {
                    debugger
                    var silla=$("#"+id_busqueda).attr('onclick');
                    if (silla!=null) {
                        if ($("#"+id_busqueda).hasClass('Seleccionada') == false) {
                            $("#"+id_busqueda).attr('style','background: #4DB6AC;').addClass("Seleccionada");
                           
                        }
                    }
                    
                }
                seleccionadas++;
            }
            }
        }
        else{
            if ($(element).hasClass('Seleccionada') == true) {
                $(element).removeAttr("class");
                $(element).removeAttr("style");
            }
            else{
                if ($('.Seleccionada').length==$("#cantidad-ventas").val()) {
                    alert("Maximo seleccionado");
                }
                else{
                    $(element).attr('style','background: #4DB6AC;').addClass("Seleccionada");
                }
            }
        }
        
    }


    function abrirmodalpago(){
        debugger
        var Costo = 0;
        $(".item-producto").each(function (element) {
            debugger
            Costo += $(this).data("product-cost-total");
            console.log(Costo)
            console.log($(this).data("product-cost-total"));
        });
        $("#precio-total-producto").val(Costo);
        $("#demo-modal-wo-anim").modal('show');
        if (isNaN( $("#precio-total-producto").val())||$("#precio-total-producto").val()=="") {
            $(".total-facturar").val(parseInt($("#precio-total-boletas").val()));
        }
        else{
            $(".total-facturar").val(parseInt($("#precio-total-boletas").val())+parseInt($("#precio-total-producto").val()));
        }
        
    }

    function ModalConfirmarReserva(){
        debugger
            var boletas=0;
            var idsillas="";
            $(".Seleccionada").each(function (index,element){
                console.log($(this).attr('id'));
                idsillas+=$(this).attr('id')+',';
                boletas++;
            })
            if ($("#cantidad-ventas").val() !=boletas) {
                alert("Faltan sillas por seleccionar");
            }
            var DatosSillasSeleccionadas = $("#RowIDFuncion").val()+"_"+$("#tarifaID").val()+"_"+idsillas;
            if ($("#cantidad-ventas").val() ==boletas) {
                $("#demo-modal-wo-anim").modal('hide');
                $("#myModal1").modal('hide');

                ModalProcesandoShow();
                var urlWithCont = '../../POS/ConfirmaReserva?DatosSillasSeleccionadas=' + DatosSillasSeleccionadas;
                $("#DialogReserva").load(urlWithCont.trim())
            }
        
        }

    function CrearCambio(){
        console.log($("#efectivo").val())
        console.log($(".total-facturar").val())
        var cambio=parseInt($("#efectivo").val())-parseInt($("#totalAfacturar").val());
        $(".cambio").val(cambio);
    }
    function TerminarVenta(){
        debugger
        var cambio=parseInt($("#efectivo").val())-parseInt($("#totalAfacturar").val());
        if (cambio<0||cambio==null||cambio=="" || isNaN(cambio)) {
            alert("Verifique el efectivo ingresado");
        }
        else{
            var Costo = 0;


            $("#precio-total-producto").val(Costo);
            var RowID_Productos="";
            var CantidadxProducto="";
            var abrirmodal=0;
            $(".item-producto").each(function(element,index){
                debugger
                Costo += $(this).data("product-cost-total");
                if ($(this).data("product-ref")=="product-ref") {
                    abrirmodal=1;
                }
                RowID_Productos+= $(this).data("product-id")+",";
                CantidadxProducto+=$(this).data("product-quantity-sale")+",";
            });
            
            var boletas=0;
            var idsillas="";
            $(".Seleccionada").each(function (index,element){
                console.log($(this).attr('id'));
                idsillas+=$(this).attr('id')+',';
                boletas++;
            })
            if ($("#cantidad-ventas").val() !=boletas) {
                alert("Faltan sillas por seleccionar");
            }
            if ($("#cantidad-ventas").val() ==boletas) {
                $.ajax({
                    url:'/POS/TerminarVenta/',
                    async:false,
                    data:{
                        IDSillas:idsillas,
                        IDTarifas:$("#tarifaID").val(),
                        IDProductos:RowID_Productos,
                        CantidadProductoID:CantidadxProducto,
                        RowIDFuncion:$("#RowIDFuncion").val(),
                        Efectivo:$("#efectivo").val(),
                        Cambio:$("#cambio").val(),
                        Total:$("#totalAfacturar").val()
                    },success:function(data){
                        debugger
                        //console.log(data.html);
                        $("#panel-boletas-imprimir").append(data.html);
                        var mode = 'iframe'; //popup
                        var close = mode == "popup";
                        var options = { mode: mode, popClose: close };
                        $(".printableArea").printArea(options);
                        $("#panel-boletas-imprimir").empty();
                        //swal('','Venta terminada');
                        $("#demo-modal-wo-anim").modal('hide');
                        $("#myModal1").modal('hide');
                        $("#boletas-comprar").empty();
                        $("#ver_sala").removeAttr("onclick");
                        $("#panel-tarifas-funcion").empty();
                    },error:function(){
                        swal('','Verifica la información','warning')
                    }

                })
            }
        }
    }
    $('.solo-numero').keyup(function () {
        this.value = (this.value + '').replace(/[^0-9]/g, '');
    });

    function imprimir() {
        if ((navigator.appName == "Netscape")) {
            window.print();
        }
        else {
            var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
            document.body.insertAdjacentHTML('beforeEnd', WebBrowser); WebBrowser1.ExecWB(6, -1); WebBrowser1.outerHTML = "";
        }
    }

    $(document).ready(function () {
        $("#printButton").click(function () {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = { mode: mode, popClose: close };
            $(".printableArea").printArea(options);
        });
    });
    function imprimir_boletas(){

    }
</script>
<style>

    img {
        width: 50px;
        z-index: 0;
    }

    small {
        margin-left: 1.3%;
        display: inline;
        position: absolute;
        z-index: 99999;
        display: none;
    }

    td:hover small {
        display: block;
        position: absolute;
        z-index: 8888;
    }

    #esquema_mapa {
        margin-right: auto;
        margin-left: auto;
    }
        .pantalla {
        border-radius: 0px 0 100px 100px;
        background-color: black;
        margin-right: auto;
        margin-left: auto;
    }
</style>

<div class="modal fade" id="myModal1" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog" style="width:@((Model.Cantidad_Columnas*40)+100)px;height:@(Model.Cantidad_Filas*10);margin-top: -35%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px; ">
                
                <div class="row">
                    <div class="col-sm-2">
                        <p class="pad-no mar-no">
                            Cantidad sillas:
                            <h4 id="cantidad_selecionadas" class="mar-no pad-no">@ViewBag.CantidadSillasVenta</h4>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Tarifa:
                            <h4 id="tarifa_venta"> @ViewBag.Tarifa.Nombre</h4>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <h4 class="modal-title"><b>@Model.Nombre</b></h4>
                            <input type="checkbox" id="multiple-seleccion" /><strong>&nbsp; Elección multiple</strong>
                        </p>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="close form-control" data-dismiss="modal" aria-hidden="true">
                            <i class="pci-cross pci-circle"></i>
                        </button>
                    </div>
                </div>

                    <input type="hidden" value="@ViewBag.Tarifa.RowID" id="tarifaID" />
                    <input type="hidden" id="cantidad-ventas" value="@ViewBag.CantidadSillasVenta" />
                    <input type="hidden" id="RowIDFuncion" value="@ViewBag.Funcion.RowID" />
</div>
            <div class="modal-body" style="height: auto;">
                <div class="row" id="div_btns">
                    <div class="col-md-12">
                        <div class="nav">
                            <div id="Dialog"></div><!--Abre el modal  -->
                            <div class="row">
                                <input type="hidden" class="RowID_Sala"  value="@Request.Params["RowID_Sala"].ToString()" />

                                <table id="esquema_mapa" align="center" style="height:@(Model.Cantidad_Columnas *35)px;width:@(Model.Cantidad_Filas *35)px;margin:0 auto;"></table>
                                <div class="pantalla" style="width:@(Model.Cantidad_Columnas *40)px">
                                    <center><h1>Pantalla</h1></center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="abrirmodalpago()">Pagar</button>
                    <button type="button" class="btn btn-info" onclick="ModalConfirmarReserva()" >Confirmar Reserva</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    @*<a href="javascript:void(0);" id="printButton">Print</a>*@
    <div  id="panel-boletas-imprimir">
    </div>
</div><!-- /.modal -->

<div class="modal fade" id="demo-modal-wo-anim"  role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" data-backdrop="static" data-keyboard="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                     <!--<button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>-->
                    <h3 class="panel-title">Control de caja</h3>
                </div>


                <!--Modal body-->
                <div class="modal-body" style="min-height:250px;">
                    <div id="page-content" style="height:50px">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >Efectivo</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control efectivo-recibido solo-numero" id="efectivo" onblur="CrearCambio()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Total </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control total-facturar" disabled/>
                                        <input type="hidden" class="total-facturar" id="totalAfacturar" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Cambio</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control cambio" id="" disabled />
                                        <input type="hidden" class="cambio" id="cambio" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    
                </div>


                <!--Modal footer-->
                <div class="modal-footer">
                    <!--<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>-->
                    <button class="btn btn-primary" onclick="TerminarVenta()">Terminar Venta</button>
                </div>
            </div>
        </div>
    </div>