@model IEnumerable<CinemaPOS.Models.Pqrs>

@{
    ViewBag.Title = "Vista PQRS";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}
<head>
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="~/Content/js/demo/tables-datatables.js"></script>
</head>
<p>
    <a class="btn btn-success" href='@Url.Action("CreacionPQRS", "PQRS")'>Nueva PQRS</a>
</p>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Lista PQRS</h3>
    </div>
    <div class="panel-body">
        <table id="demo-dt-basic" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Titulo PQRS</th>
                    <th>Nombre Usuario</th>
                    <th>Teatro</th>
                    <th class="min-tablet">Tipo solicitud</th>
                    <th class="min-desktop">Estado PQRS</th>
                    <th>Fecha suceso</th>
                    <th>Fecha creación</th>
                    <th>Creado por</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CinemaPOS.Models.Pqrs pqrs in Model.ToList())
                {
                    <tr>
                        <td>@pqrs.Titulo</td>
                        <td>@if (!String.IsNullOrEmpty(@pqrs.Tercero.Nombre))
                            {
                                @pqrs.Tercero.Nombre
                            }
                            @if (!String.IsNullOrEmpty(@pqrs.Tercero.Apellidos))
                            {
                                @pqrs.Tercero.Apellidos
                            }                         
                        </td>
                        <td>@pqrs.Teatro.Nombre</td>
                        <td>@pqrs.TipoSolicitud.Nombre</td>
                        <td>@pqrs.Estado.Nombre</td>
                        <td>@pqrs.FechaSuceso.Value.ToString("dd/MM/yyyy")</td>
                        <td>@pqrs.FechaCreacion.Value.ToString("dd/MM/yyyy")</td>
                        <td>@pqrs.CreadoPor</td>
                        <td><a href="@Url.Action("Seguimiento", "PQRS", new { RowID_pqrs = pqrs.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>




