@model IEnumerable<CinemaPOS.Models.EncabezadoProgramacion>

@{
    ViewBag.Title = "VistaProgramacion";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}
<head>
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="~/Content/js/demo/tables-datatables.js"></script>
</head>
<p>
    <a class="btn btn-success" href='@Url.Action("Programacion", "Programacion")'>Crear Programacion</a>
</p>
@*Comentario*@
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Lista Programación</h3>
    </div>
    <div class="panel-body" style="overflow-x:auto;">

        <table id="demo-dt-basic" class="table table-striped table-responsive table-bordered table-funcion" cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teatro</th>
                    <th>Cant Funciones</th>
                    <th>Fecha Inicial</th>
                    <th>Fecha Final</th>
                    <th>Estado</th>
                    <th>Usuario Creación</th>
                    <th>Fecha Creación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CinemaPOS.Models.EncabezadoProgramacion item in Model)
                {
                    <tr>
                        <td>@item.Titulo</td>
                        @if (@item.Teatro != null)
                        {
                            <td>@item.Teatro.Nombre - @item.Teatro.Ciudad.Nombre</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@item.Funcion.Count</td>
                        <td>@item.FechaInicial.Value.ToString("dd/MM/yyyy")</td>
                        <td>@item.FechaFinal.Value.ToString("dd/MM/yyyy")</td>
                        @if (@item.Estado != null)
                        {
                            <td>@item.Estado.Nombre</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@item.CreadoPor</td>
                        <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                        <td><a href="@Url.Action("Programacion", "Programacion", new { RowID_EncabezadoProgramacion = item.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

        </div>
 




