@model IEnumerable<CinemaPOS.Models.EncabezadoProgramacion>

@{
    ViewBag.Title = "VistaProgramacion";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}
<head>
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="~/Content/js/demo/tables-datatables.js"></script>
    <script src="~Content/js/jquery.dataTables.min1.10.10.js"></script>

    <link href="~/Content/Tables.min.css" rel="stylesheet" />
    <link href="~/Content/js/JqueryDataRables/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<p>
    <a class="btn btn-success" href='@Url.Action("Programacion", "Programacion")'>Crear Programacion</a>
</p>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Lista Programación</h3>
    </div>
    <div class="panel-body" style="overflow-x:auto;">
        <div class="">
            <table id="Table" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive ">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teatro</th>
                        <th>Cant Funciones</th>
                        <th>Fecha Inicial</th>
                        <th>Fecha Final</th>
                        <th>Estado</th>
                        <th>Usuario Creación</th>
                        <th>Fecha Creación</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Nombre</td>
                        <td>Teatro</td>
                        <td>Cant Funciones</td>
                        <td>Fecha Inicial</td>
                        <td>Fecha Final</td>
                        <td>Estado</td>
                        <td>Usuario Creación</td>
                        <td>Fecha Creación</td>
                    </tr>

                </tfoot>
                <tbody>
                    @foreach (CinemaPOS.Models.EncabezadoProgramacion item in Model)
                    {
                        <tr>
                            <td>@item.Titulo</td>
                            @if (@item.Teatro != null)
                            {
                                <td>@item.Teatro.Nombre - @item.Teatro.Ciudad.Nombre</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Funcion.Count</td>
                            <td>@item.FechaInicial.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.FechaFinal.Value.ToString("dd/MM/yyyy")</td>
                            @if (@item.Estado != null)
                            {
                                <td>@item.Estado.Nombre</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.CreadoPor</td>
                            <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                            <td><a href="@Url.Action("Programacion", "Programacion", new { RowID_EncabezadoProgramacion = item.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="fixed-table-footer" style="display: none;"><table><tbody><tr></tr></tbody></table></div>
    </div>

        </div>
 

<script>

    $(document).ready(function () {

        $('#Table tfoot td').each(function () {
            var title = $(this).text();
            var width = 'width: 100%;';
            var id = '';


            if (title == 'Nombre') {
                id = 'id="Nombre"';
            }

            if (title == 'Teatro') {
                id = 'id="Teatro"';
            }

            if (title == 'Cant Funciones') {
                id = 'id="Cant_Funciones"';
            }


            if (title == 'Fecha Inicial') {
                id = 'id="Fecha_Inicial"';
            }

            if (title == 'Fecha Final') {
                id = 'id="Fecha_Final"';
            }

            if (title == 'Estado') {
                id = 'id="Estado"';
            }

            if (title == 'Usuario Creación') {
                id = 'id="Usuario_Creacion"';
            }
            if (title == 'Fecha Creación') {
                id = 'id="Fecha_Creacion"';
            }

            if (title != '' && id.length > 1) {
                $(this).html('<input type="text" style="' + width + '" ' + id + ' placeholder="Buscar ' + title + '" />');
            }
            else {
                $(this).html('');
                title = '';
            }
        });

        var aoColumnDefsType = [
          { "bSortable": false, "aTargets": [0] }
        ];


        debugger

        var table = $('#Table').DataTable({
            "processing": true,
            "bFilter": true,
            "bPaginate": true,
            "info": true,
            "bDestroy": true,
            aLengthMenu: [
                [12],
                [12]
            ],
            "iDisplayLength": 6,
            "order": [[2, "desc"]],//original "order": [[2, "desc"]],
            "aoColumnDefs": aoColumnDefsType
        });

        // Apply the search
        table.columns().every(function () {
            debugger
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });



    });


</script>