@model IEnumerable<CinemaPOS.Models.EncabezadoProgramacion>

@{
    ViewBag.Title = "VistaProgramacion";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}
<head>
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <!--DataTables Sample [ SAMPLE ]-->
    <script src="~/Content/js/demo/tables-datatables.js"></script>
</head>
<style>
 
    .fixed-table-body {
        overflow-x: scroll;
        overflow-y: scroll;
        height: 100%;
    }

    .fixed-table-footer, .fixed-table-header {
        overflow: hidden;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #bbb;
    }

    td, th {
        border-top: 1px solid #ddd;
        padding: 4px 8px;
    }

    tbody tr:nth-child(even) td {
        background-color: #eee;
    }

</style>
<p>
    <a class="btn btn-success" href='@Url.Action("Programacion", "Programacion")'>Crear Programacion</a>
</p>
@*Comentario*@
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Lista Programación</h3>
    </div>
    <div class="panel-body" style="overflow-x:auto;">
        <div class="fixed-table-body">
            <table id="demo-dt-basic" class="table table-hover table-striped table-responsive table-bordered " cellspacing="0" data-show-pagination-switch="true">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teatro</th>
                        <th>Cant Funciones</th>
                        <th>Fecha Inicial</th>
                        <th>Fecha Final</th>
                        <th>Estado</th>
                        <th>Usuario Creación</th>
                        <th>Fecha Creación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CinemaPOS.Models.EncabezadoProgramacion item in Model)
                    {
                        <tr>
                            <td>@item.Titulo</td>
                            @if (@item.Teatro != null)
                            {
                                <td>@item.Teatro.Nombre - @item.Teatro.Ciudad.Nombre</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Funcion.Count</td>
                            <td>@item.FechaInicial.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.FechaFinal.Value.ToString("dd/MM/yyyy")</td>
                            @if (@item.Estado != null)
                            {
                                <td>@item.Estado.Nombre</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.CreadoPor</td>
                            <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                            <td><a href="@Url.Action("Programacion", "Programacion", new { RowID_EncabezadoProgramacion = item.RowID })"><i class="glyphicon glyphicon-pencil"></i></a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="fixed-table-footer" style="display: none;"><table><tbody><tr></tr></tbody></table></div>
    </div>

        </div>
 




