@model CinemaPOS.Models.Plantillas

@{
    ViewBag.Title = "Formato Correo";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}

<link href="~/Content/plugins/summernote/summernote.min.css" rel="stylesheet">
<script src="~/Content/js/demo/nifty-demo.min.js"></script>
<script src="~/Content/plugins/summernote/summernote.min.js"></script>
<script src="~/Content/js/demo/mail.js"></script>
<script src="~/Content/js/demo/form-text-editor.js"></script>

<script>
    $(document).ready(function () {
        //new Switchery(document.getElementById('demo-sw-checked'));
        @*if(@Model.RowID > 0){
            var rowid = @Model.RowID;
            $.ajax({
                type: "POST",
                url: "/Masters/Consulta_formato",
                data: {
                    rowid_formato: rowid,
                },
                success: function (data2) {
                    debugger
                    $(".note-editable").append(data2);
                },
                error: function (request) {
                    debugger
                    Mensajes(request.responseText.substring(1, (request.responseText.length -1)), 'error', '');
                }
            });
        }

        debugger*@
    })

    function guardarFormatoCorreo() {
        debugger
        var RowID_Encabezado = $(".RowID_Encabezado").val();
        var htmlText = $(".note-editable").html();
        $.ajax({
            type: "POST",
            url: "/Masters/Registrar_formatoCorreo",
            data: {
                formulario: $("#formCorreo").serialize(),
                formato: htmlText,
                rowid_formato: RowID_Encabezado,
            },
            success: function (data2) {
                debugger
                Mensajes(data2.mensaje, "success", '');
                window.location = "/Masters/VistaPlantillasCorreo";
            },
            error: function (request) {
                debugger
                Mensajes(request.responseText.substring(1, (request.responseText.length - 1)), 'error', '');
            }
        });
    }

    function RegistrarAdjunto() {
        ruta = null;
        hasChangue = false;
        debugger
        var formdata = new FormData(); //FormData object
        var fileInput = $("#file_adjunto").get(0).files;

        for (i = 0; i < fileInput.length; i++) {
            formdata.append("file" + i, fileInput[i]);
        }
        //alamacena la imagen dentro del servidor
        $.ajax({
            type: "POST",
            url: "/Masters/Get_Ruta_File",
            contentType: false,
            processData: false,
            data: formdata,
            success: function (data) {
                debugger
                Mensajes("Se ha adjuntado", 'success');
                var loc = window.location;
                var pathName = window.location.protocol + "//" + window.location.host + data;
                $(".note-editable").append("<img src='" + pathName + "' ></img>");

                //guardarAdjunto(data);
            },
            error: function (request) {
                debugger
                Mensajes(request.responseText.substring(1, (request.responseText.length - 1)), 'error');
            }
        });

    }

    function adicionarParametro() {
        debugger
        var parametro = $("#parametro").val();
        $(".note-editable").append("<h6>" + parametro + "</h6>");
    }

</script>

<div>
    <p>
        <a class="btn btn-success" href='@Url.Action("VistaPlantillasCorreo", "Maestro")'>Vista Plantillas</a>
    </p>
</div>
<div class="panel">
    <div class="panel-body">

        <form id="formCorreo" data-toggle="validator" role="form">
            <input type="hidden" class="RowidPlantilla" name="RowidPlantilla" value="@Model.RowID" />
            <label class="col-md-1 control-label text-left" for="asunto">Asunto:</label>
            <div class="col-md-3">
                <input type="text" id="asunto" name="asunto" style="width: 100%" class="form-control" value="@Model.Titulo" required="required">
            </div>
            @*<div class="row">
                    <label class="col-md-1 control-label text-left" for="descripcion">Descripción</label>
                    <div class="col-md-6">
                        <textarea name="descripcion" id="descripcion" class="form-control" style="resize: none" cols="20" rows="3">@Model.</textarea>
                    </div>
                </div>*@
            <div class="row ">
                @*<div class="form-group align-left">
                        <label class="col-md-1 control-label text-left" for="descripcion">Activo</label>
                        @if (@Model.estado.Equals(true))
                            {
                                <input id="demo-sw-checked" type="checkbox" name="activo" checked>
                            }
                            else
                            {
                                <input id="demo-sw-checked" type="checkbox" name="activo">
                            }
                    </div>*@
                <div class="form-group align-left">
                    <label class="col-md-1 control-label text-left" for="parametro">Parámetros</label>
                    <select id="parametro" name="parametro" class="col-md-2 form-control" style="min-width:50px; width: 200px" required>
                        <option value="" disabled selected>Seleccione una opcion</option>
                        <option value="__ClienteNombre">Nombre del cliente</option>
                        <option value="__ClienteCedula">Cedula del cliente</option>
                    </select>
                    <div class="col-md-1">
                        @*<input class="btn btn-success glyphicon glyphicon-paperclip" id="adicionar" name="adicionar" style="float: left"  onclick="javascript:adicionarParametro()">*@
                        <button type="button" class="btn" style="background-color: white;" title="Adicionar parámetro" onclick="javascript:adicionarParametro()">
                            <i class="glyphicon glyphicon-edit "></i>
                        </button>

                    </div>
                </div>

                <form id="formulario_adjuntos" enctype="multipart/form-data">
                    <center>
                        <input type="file" maxlength="20480" name="file_adjunto" id="file_adjunto" multiple>

                        <button type="button" class="btn  fileupload-exists" onclick="javascript:RegistrarAdjunto()" style="color:gray;background-color:white">
                            <i class="glyphicon glyphicon-paperclip icon-white"></i> Adjuntar
                        </button>
                    </center>
                </form>
            </div>

            <div class="row ">
                <div class="col-md-11">
                    <div id="demo-mail-compose" class="demo-mail-compose"></div>
                </div>
            </div>

            <div class="note-editor note-frame panel panel-default">

            </div>
            <div class="row ">
                <div class="col-md-11">
                    @if (Model.RowID == 0)
            {
            <input class="btn btn-success" id="guardar" name="guardar" style="float: right" value="Guardar" onclick="javascript:guardarFormatoCorreo()">
            }
            else
            {
            <input class="btn btn-success" id="actualizar" name="actualizar" style="float: right" value="Actualizar" onclick="javascript:guardarFormatoCorreo()">
            }
                </div>
            </div>
        </form>

    </div>
</div>


<!--GUARDAR HABEAS DATA-->
<script>
    function GuardarHabeasData() {
        var habeas = $(".note-editable").text();
        if (habeas == null || habeas == "") {
            Alerts("Campo requerido.", "warning");
            $(".note-editable").css("border", "1px solid #B71C1C");
        } else {
            debugger
            ModalProcesandoShow();
            var htmlHabeas = $(".note-editable").html();
            $.ajax({
                type: "POST",
                url: "/Maestro/GuardarHabeasData",
                data: {
                    habeas: htmlHabeas,
                },
                success: function (data) {
                    ModalProcesandoHiden();

                    if (data == "ok") {
                        Alerts("Datos almacenados correctamente.", "success");
                        return;
                    } else {
                        Alerts("Error al guardar los datos.", "danger");
                    }

                },
                error: function (data) {
                    ModalProcesandoHiden();
                    Alerts("Error al guardar los datos.", "danger");
                }
            });
        }
    }

</script>
<script>
    $(document).ready(function () {
        ModalProcesandoShow();
        $.ajax({
            type: "POST",
            url: "/Maestro/CargarPlantillaCorreos",
            data: {
                RowidPlantilla: $("#RowidPlantilla").val()
            },
            success: function (data) {
                ModalProcesandoHiden();
                $(".note-editable").prepend(data);
            },
            error: function (data) {
                ModalProcesandoHiden();
                Alerts("Error al cargar la información.", "danger");
            }
        });
    });
</script>