@model CinemaPOS.Models.Taquilla

@{
    ViewBag.Title = "Taquilla";
    Layout = "~/Views/Inicio/Diseño.cshtml";}

<script>
    function valida_formulario() {
        hasChangue = false;
        var validator = $("#formulario_taquilla").validate();
        if (validator.form()) {
            guardar_taquilla();
        }
    }
</script>
<script>
    $(document).ready(function () {
        $.validator.setDefaults({ ignore: ":hidden:not(select)" });
        jQuery.validator.messages.required = '*Este campo es obligatorio.';
        $("#fechainicial").datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: false
        });
        $("#fechafinal").datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: false
        });
        $("#iptaquilla").mask("999.999.999.999");
    });
    function getipteatro() {
        $.ajax({
            url: "/Maestro/Getip_Teatro",
            data: { RowIDTeatro: $("#select-teatro").val() },
            success: function (data) {
                $("#iptaquilla").val(data);
            },
            error: function (data) {
                swal("", "El teatro no cuenta con una ip asignada", "warning");
            }
        })
    }
</script>
<script>
    function guardar_taquilla(encabezado) {
        if (!$("#formulario_taquilla").validate().form()) {
            return false;
        }
        if ($(".RowID_Encabezado").val() == 0) {
            $.ajax({
                type: "POST",
                url: "/Maestro/Guardar_Taquilla",
                data: {
                    RowID_Encabezado: $(".RowID_Encabezado").val(),
                    formulario: $("#formulario_taquilla").serialize(),
                },
                success: function (data) {
                    debugger;
                    if (data) {
                        swal("OK", "Creado...", "success");
                        window.location = "/Maestro/VistaTaquilla"
                    } else {
                        swal("ERROR", "Error al guardar...", "ERROR");
                    }
                },
                error: function () {
                    swal("Error al guardar la informacion de taquilla", "");
                }
            });
        }


        if ($(".RowID_Encabezado").val() != 0) {
            $.ajax({
                type: "POST",
                url: "/Maestro/Guardar_Taquilla",
                data: {
                    RowID_Encabezado: jQuery(".RowID_Encabezado").val(),
                    RowID_Detalle: jQuery(".RowID_Detalle").val(),
                    formulario: $("#formulario_taquilla").serialize(),
                },

                success: function (data) {
                    debugger;

                    if (data) {
                        swal("OK", "ACTUALIZADO...", "success");
                        window.location = "/Maestro/VistaTaquilla"
                    } else {
                        sweetAlert("ERROR", "ERROR ACTUALIZANDO", "error");
                    }
                },
                error: function (data) {
                    sweetAlert("", data.respuesta, "error");
                }

            });
        }
    }
</script>



<script src="~/Content/plugins/bootstrap-validator/bootstrapValidator.js"></script>



<!--Masked Input [ OPTIONAL ]-->

<script src="~/Content/plugins/masked-input/jquery.maskedinput.js"></script>

<!--Form validation [ SAMPLE ]-->
<script src="~/Content/js/demo/form-validation.js"></script>
<div>
    <p>
        <a class="btn btn-success" href='@Url.Action("VistaTaquilla", "Maestro")'>Volver</a>
    </p>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Taquilla</h3>
    </div>

    <form id="formulario_taquilla" data-toggle="validator" role="form">
        <input type="hidden" class="RowID_Encabezado" name="RowID_Encabezado" value="@Model.RowID" />
        <input type="hidden" class="RowID_Detalle" name="RowID_Detalle" />
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Nombre:*</label>
                        <input name="nombre" id="nombre" class="form-control" value="@Model.Nombre" maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label class="control-label">Prefijo:*</label>
                        <input name="prefijo" id="prefijo" class="form-control" value="@Model.Prefijo" maxlength="10" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Rango de consecutivos:*</label>
                        <div class="input-daterange input-group">

                            <input type="number" class="form-control" name="consecutivoinicial" value="@Model.ConsecutivoInicial" required>
                            <span class="input-group-addon">a</span>
                            <input type="number" class="form-control" name="consecutivofinal" value="@Model.ConsecutivoFinal" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Vigencia:*</label>
                        <div id="demo-dp-range">
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="form-control" name="fechainicial" id="fechainicial" value="@Model.FechaInicial" required>
                                <span class="input-group-addon">a</span>
                                <input type="text" class="form-control" name="fechafinal" id="fechafinal" value="@Model.FechaFinal" required>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Teatro:*</label>
                        <select name="teatro" class="chosen  form-control" id="select-teatro" onchange="getipteatro()" required>
                            <option value="" disabled selected>Elija una opcion</option>
                            @foreach (CinemaPOS.Models.Teatro teatros in ViewBag.Teatros)
                            {
                                if (@Model.TeatroID.Equals(@teatros.RowID))
                                {
                                    <option value="@teatros.RowID" selected>@teatros.Nombre - @teatros.Ciudad.Nombre</option>
                                }
                                else
                                {
                                    <option value="@teatros.RowID">@teatros.Nombre - @teatros.Ciudad.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">IP:*</label>
                        <input name="ip" id="iptaquilla" value="@Model.IP" class="form-control" placeholder="999.999.999.999" required />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Estado:*</label>
                        <select name="estado" class="chosen form-control" required>
                            <option value="" disabled selected>Seleccione una opcion</option>
                            @foreach (CinemaPOS.Models.Estado estado in ViewBag.Estado)
                            {
                                if (@Model.EstadoID.Equals(@estado.RowID))
                                {
                                    <option value="@estado.RowID" selected>@estado.Nombre</option>
                                }
                                else
                                {
                                    <option value="@estado.RowID">@estado.Nombre</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">

            @if (Session["Usuario"] != null)
            {
                CinemaPOS.Models.UsuarioSistema user = (CinemaPOS.Models.UsuarioSistema)Session["Usuario"];
                if (user.Teatro.Nombre == CinemaPOS.ModelosPropios.Util.Constantes.NOMBRE_TEATRO_CENTRAL)
                {
                    if (Model.RowID == 0)
                    {
                        <input class="btn btn-success" value="Guardar" onclick="javascript:valida_formulario()">
                    }
                    else
                    {
                        <input class="btn btn-success" value="Actualizar" onclick="javascript:valida_formulario()">
                    }
                }
                else
                {
                    <input class="btn btn-danger add-tooltip" data-toggle="tooltip" data-original-title="Acción Denegada." value="Guardar">
                }
            }


        </div>
    </form>

</div>