@model CinemaPOS.Models.Sala

@{
    ViewBag.Title = "Lista Sala";
    Layout = "~/Views/Inicio/Diseño.cshtml";
}

<script src="~/Content/js/jquery-2.2.4.min.js"></script>

<script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>

<script src="~/Content/js/jquery.dataTables.min1.10.10.js"></script>
<link href="~/Content/Tables.min.css" rel="stylesheet" />
<link href="~/Content/js/JqueryDataRables/jquery.dataTables.min.css" rel="stylesheet" />


<link href="~/Content/css/EstiloTablasFiltros.css" rel="stylesheet" />

<p>
    <a class="btn btn-success" href='@Url.Action("Sala", "Maestro")'>Crear Sala</a>
</p>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Lista Sala</h3>
    </div>
    <div class="panel-body">
        <table id="demo-dt-basic" class="table table-condensed table-striped table-bordered table-hover table-checkable table-responsive">
            <thead>
                <tr>
                    <th style="width: 10px; display:none">ID</th>
                    <th>Teatro</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Audio</th>
                    <th>Estado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th style="display: none;padding: 5px 3px 0px 3px; font-size: small;"><input type="text" style="width: 100%;" id="ID" placeholder="Buscar ID"></th>
                    <th style="padding: 5px 3px 0px 3px; font-size: small;"><input type="text" style="width: 100%;" id="Teatro" placeholder="Buscar Teatro"></th>
                    <th style="padding: 5px 3px 0px 3px; font-size: small;"><input type="text" style="width: 100%;" id="Nombre" placeholder="Buscar Nombre"></th>
                    <th style="padding: 5px 3px 0px 3px; font-size: small;"><input type="text" style="width: 100%;" id="Capacidad" placeholder="Buscar Capacidad"></th>
                    <th style="padding: 5px 3px 0px 3px; font-size: small;"><input type="text" style="width: 100%;" id="Audio" placeholder="Buscar Audio"></th>
                    <th style="padding: 5px 3px 0px 3px; font-size: small;"><input type="text" style="width: 100%;" id="Estado" placeholder="Buscar Estado"></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (CinemaPOS.Models.Sala salas in ViewBag.Salas)
                {
                    <tr>
                        <td style="display: none;">@salas.RowID</td>
                        <td>
                            @salas.Teatro.Nombre -
                            @if (null != salas.Teatro.Ciudad)
                            {
                                @salas.Teatro.Ciudad.Nombre
                            }
                        </td>
                        <td>@salas.Nombre</td>
                        <td>@salas.Capacidad</td>
                        <td>@salas.Opcion.Nombre</td>
                        <td>@salas.Estado.Descripcion</td>
                        <td><a href="@Url.Action("Sala", "Maestro", new { @RowID_Sala = salas.RowID })"><i class="ion-edit"></i></a></td>
                      @*  @{string EstadaEditarMapa = "";}*@

                        @*@if (Session["Usuario"] != null)
                        {
                            CinemaPOS.Models.UsuarioSistema user = (CinemaPOS.Models.UsuarioSistema)Session["Usuario"];
                            if (user.Teatro.Nombre == CinemaPOS.ModelosPropios.Util.Constantes.NOMBRE_TEATRO_CENTRAL)
                            {
                                if (salas.Estado.Nombre == "EnFuncionamiento")
                                {
                                    EstadaEditarMapa = "Disabled";
                                }
                                else { EstadaEditarMapa = "enabled"; }
                            }
                            else { EstadaEditarMapa = "Disabled"; }

                        }*@
                        <td><a title="Editar Mapa Sala" href="@Url.Action("MapaSala", "Maestro", new { @RowID_Sala =salas.RowID})" class="ion-grid editar_mapa"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".Disabled").attr("style", "pointer-events: none;cursor: default;opacity: 0.6;");
    })
</script>
<script>
    $(document).ready(function () {
        var cont = 0;

        var aoColumnDefsType = [
           //{ "sType": "title-numeric", "aTargets": [3] },
           //{ "sType": "title-numeric", "aTargets": [7] },
           { "bSortable": false, "aTargets": [0] }//,
           //{ "bSortable": false, "aTargets": [8] },
           //{ "bSortable": false, "aTargets": [9] },
           //{ "sClass": "center", "aTargets": [2, 3, 4, 5, 6, 7] }
        ];

        var table = $('#demo-dt-basic').DataTable({
            "processing": true,
            "bFilter": true,
            "bPaginate": true,
            "info": true,
            "bDestroy": true,
            aLengthMenu: [
                [6],
                [6]
            ],
            "iDisplayLength": 10,
            "order": [[0, "desc"]],
            "aoColumnDefs": aoColumnDefsType
            //"aaSorting": [[2,'desc']]
        });

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>