@model CinemaPOS.Models.EncabezadoVentaEmpresarial
@{
    ViewBag.Title = "Crear Venta Empresarial";
    Layout = "~/Views/Inicio/Diseño.cshtml";

}

<link href="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">

<!--Bootstrap Validator [ OPTIONAL ]-->
<script src="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="~/Content/js/demo/form-wizard.js"></script>
<script src="~/Content/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="~/Content/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<link href="~/Content/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
<!--DataTables [ OPTIONAL ]-->
<script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<!--DataTables Sample [ SAMPLE ]-->
<script src="~/Content/js/demo/tables-datatables.js"></script>

<script>
    function guardar_Empresarial() {
        var validator = $("#formulario_Empresa_Encabezado").validate();
        if (validator.form()) {

            var inicio = document.getElementById('FechaInicial').value;
            var finalq = document.getElementById('FechaFinal').value;
            inicio = new Date(inicio);
            finalq = new Date(finalq);
            if (inicio > finalq) {
                swal("", "La fecha inicial no puede ser mayor a la final", "error");
            } else {
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/VentaEmpresarial/GuardarEmpresarial",
                    data: {
                        RowID_EncabezadoConvenio: $("#row_id").val(),
                        formulario: $("#formulario_Empresa_Encabezado").serialize(),
                    },
                    success: function (data) {
                        if (data.respuesta.includes("Error")) {
                            swal("ERROR", data.respuesta, "error");
                            return;
                        } else {
                            swal("OK", "Se actualizo el estado de los items", "success");
                            $("#row_id").val(data.RowID_EncabezadoConvenio);
                            window.location = "/VentaEmpresarial/VentaEmpresarial?RowId_Empresarial=" + data.RowID_EncabezadoConvenio;
                            //jQuery(".Ocultar").slideDown();
                        }
                    },
                    error: function (data) {
                        swal("ERROR", data.respuesta, "error");
                    }

                });
            }
        }
    }

    function guardar_DetalleEmpresarial() {
        debugger;
        var validator = $("#formulario_Empresarial_Detalle").validate();
        if (validator.form()) {
            $.ajax({
                type: "POST",
                url: "/VentaEmpresarial/GuardarDetalleEmpresarial",
                data: {
                    formulario: $("#formulario_Empresarial_Detalle").serialize(),
                    RowID_EncabezadoEmpresarial: $("#row_id").val(),
                    Cantidad: $("#CantidadItem").val(),
                },
                success: function (data) {
                    if (data.includes("Error")) {
                        swal("ERROR", data, "error");
                        return;
                    } else {
                        swal("OK", data, "success");
                        window.location = "/VentaEmpresarial/VentaEmpresarial/?RowId_Covenio=" + $("#row_id").val();

                    }
                },
                error: function (data) {
                  
                    swal("ERROR", data, "error");
                }
            });


        }
    }

    function EliminarItems(RowID_Detalle) {
        $.ajax({
            type: "POST",
            url: "/VentaEmpresarial/EliminarItems",
            data: {
                RowID_Detalle: RowID_Detalle,
            },
            success: function (data) {
                debugger;
                cargarItems();
            },
            error: function (data) {
                swal("ERROR", data, "error");
            }
        });
    }


    function cargarItems() {
        
        @*$.blockUI({ message: '<img style="width:30%; height:30%;" src="@("/Repositorio_Imagenes/Imagenes_Generales/Cargando.gif")" />' });*@
        //$(".tablaItems").empty();

        //  $('#tablaItems tbody').empty().trigger("chosen:updated");
        $.ajax({
            type: "POST",
            url: "/ConveniosCupones/cargarItemsApe",
            data: {
                RowID_Encabezado: $("#row_id").val(),
            },
            success: function (data) {
                debugger;
                $("#tablaItems").empty();
                $("#tablaItems").append(data.tabla);
                $("#Cantidad").val(data.cantidad);
                //$.unblockUI();

            },
            error: function (data) {
                debugger;

                //$.unblockUI();
                swal("ERROR", data, "error");
            }
        });
    }



    $(document).ready(function () {
        debugger;
        jQuery.validator.messages.required = '*Este campo es obligatorio.';
        $.validator.setDefaults({ ignore: ":hidden:not(select)" });
       if ($("#row_id").val() != null && $("#row_id").val() != 0) {
          $(".Ocultar").slideDown();
        } else {
         $(".Ocultar").slideUp();
        }
        jQuery(".Precioschosen").chosen({ width: " 100%;" });


        $('#demo-tp-textinput').timepicker({
            minuteStep: 1,
            showInputs: false,
            disableFocus: true
        });

        $('#demo-dp-range .input-daterange').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: false
        });

        $('.solo-numero').keyup(function () {
            this.value = (this.value + '').replace(/[^0-9]/g, '');
        });

    });

    function ModalTeatroVentaEmpresarial(rowid) {
        debugger;
        ModalProcesandoShow();
        var urlWithCont = '../VentaEmpresarial/ModalTeatroVentaEmpresarial?rowid=' + rowid;
        $("#Dialog")
        .load(urlWithCont.trim())
        .dialog('open');
    }
    function eliminarTeatro(teatro) {
        if ($(teatro).is(':checked')) {
        } else {
            swal({
                title: '¿Esta seguro?',
                text: "¿Desea remover este teatro de la pelicula?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            },
            function (isConfirm) {
                debugger
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: "/VentaEmpresarial/EliminarTeatroEmpresarial",
                        data: {
                            rowID: $(teatro).val()
                        },
                        success: function (data) {
                            debugger
                            if (data == "ok") {
                                swal(
                                    'Teatro Eliminado!',
                                    '',
                                    'success'
                                    );
                                $(teatro).css("display", "none");
                                $(teatro).parents("tr").find("td").each(function () {
                                    $(this).css("background", "#F44336");
                                    $(this).css("color", "#fff");
                                });
                            } else {
                                'Error al eliminar el teatro',
                                '',
                                'error'
                            }

                        },
                        error: function (request) {
                            hasChangue = true;
                        }
                    });
                } else {
                }
            });
        }

    }



    function RefrescarTabla() {
        debugger;
        ModalProcesandoShow();
        $.ajax({
            type: "POST",
            url: "/VentaEmpresarial/RefrescarTabla",
            data: {
                rowID: @Model.RowID,
            },
            success: function (data) {
                
                $("#TeatroPelicula tbody").empty();
                data.forEach(function (tabla) {
                    $("#TeatroPelicula tbody").append(
                                "<tr>"+
                                    "<td><input type='checkbox' name='check[]' value=" + tabla.rowid + " id=" + tabla.rowid + " checked onclick='eliminarTeatro(this)'/></td>" +
                                    "<td>"+tabla.teatro+"</td>"+
                                    "<td>"+tabla.ubicacion+"</td>"+
                                "</tr>"
                        );
                })
            },
            error: function (request) {
                hasChangue = true;
            }
        });
        ModalProcesandoHiden();

    }
</script>

<script>

    $(document).ready(function () {
        $("#rowidTeatro").chosen({ width: '100%' });
    });

    //GUARDAR TEATRO
    function GuardarTeatro() {
        ModalProcesandoShow();
        $.ajax({
            type: "POST",
            url: "/VentaEmpresarial/GuardarTeatro",
            data: {
                rowidEmpresarial: $("#row_id").val(),
                rowidTeatro: $("#rowidTeatro").val(),

            },
            success: function (data) {
                debugger;
                if(data.mensaje=="ok"){
                    swal(
                        'Teatro agregado!',
                        '',
                        'success'
                        )  
                }else{
                    swal(
                            'El teatro ya se encuentra asociado a la venta empresarial',
                            '',
                            'error'
                            )  
                }
                RefrescarTabla();

            },
            error: function (request) {
                hasChangue = true;
            }
        });
    }
</script>






<div>
    <p>
        <a class="btn btn-success" href='@Url.Action("VistaVentaEmpresarial", "VentaEmpresarial")'>Vista Venta Empresarial</a>
    </p>
</div>

<div id="Dialog"></div>
<div class="panel panel-dark">

    <!--Panel heading-->
    <div class="panel-heading">
        <div class="panel-control">
            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li class="active" id="tabEncabezado"><a data-toggle="tab" href="#VentaEmpresarial">Venta Empresarial</a></li>
                <li><a data-toggle="tab" href="#RelacionEmpresa" onclick="RefrescarTabla(@Model.RowID)">Teatros</a></li>
                <li><a data-toggle="tab" href="#Items">Items</a></li>
            </ul>

        </div>
        <h3 class="panel-title">Venta empresarial</h3>
    </div>
    <div class="tab-content">
        @*****************TAB CREAR VENTA EMPRESARIAL******************@
        <div id="VentaEmpresarial" class="tab-pane fade in active">
            <form name="formulario_teatro" id="formulario_Empresa_Encabezado" onsubmit="return false">
                <input type="hidden" class="row_id" id="row_id" name="RowID_EncabezadoConvenio" value="@Model.RowID" />
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Nombre:*</label>
                                <input type="text" name="Nombre" class="form-control" value="@Model.Nombre" maxlength="100" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Cliente:*</label>
                                <select name="Cliente" id="Cliente" class="form-control chosen">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (CinemaPOS.Models.Tercero terceros in ViewBag.Clientes)
                                    {
                                        if (Model.RowID != 0 && terceros.RowID == Model.Tercero.RowID)
                                        {
                                            <option value="@terceros.RowID" selected>@terceros.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@terceros.RowID">@terceros.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Tipo Convenio:*</label>
                                <select name="TipoConvenio" id="TipoConvenio" class="form-control">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (CinemaPOS.Models.Opcion item in ViewBag.TipoConvenio)
                                    {
                                        if (Model.RowID != 0 && item.RowID == Model.TipoID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Motivo:*</label>
                                <select name="MotivoConvenio" id="MotivoConvenio" class="form-control">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (CinemaPOS.Models.Opcion item in ViewBag.TipoMotivo)
                                    {
                                        if (Model.RowID != 0 && item.RowID == Model.MotivoID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Clasificación:*</label>
                                <select name="Clasificacion" id="Clasificacion" class="form-control">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (CinemaPOS.Models.Opcion item in ViewBag.TipoClasificacion)
                                    {
                                        if (Model.RowID != 0 && item.RowID == Model.ClasificacionID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        { 
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Estado:*</label>
                                <select name="EstadoConvenio" id="EstadoConvenio" data-toggle="tooltip" class="form-control add-tooltip" data-original-title="Recuerde que si cambia el estado, se le asignara este estado a todos los items">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (CinemaPOS.Models.Estado item in ViewBag.TipoEstado)
                                    {
                                        if (Model.RowID != 0 && item.RowID == Model.EstadoID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" id="demo-dp-range">
                                <label class="control-label">Fecha vigencia:*</label>
                                <div class="input-daterange input-group" id="datepicker">
                                    @if (Model.RowID != 0)
                                    {
                                        <input type="text" class="form-control" name="FechaInicial" id="FechaInicial" value="@Model.FechaInicio.Value.ToString("dd/MM/yyyy")" required>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="FechaInicial" id="FechaInicial" value="@Model.FechaInicio" required>
                                    }
                                    <span class="input-group-addon">a:</span>
                                    @if (Model.RowID != 0)
                                    {
                                        <input type="text" class="form-control" name="FechaFinal" id="FechaFinal" value="@Model.FechaFinal.Value.ToString("dd/MM/yyyy")" required>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="FechaFinal" id="FechaFinal" value="@Model.FechaFinal" required>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">Formato:*</label>
                                <select name="Formato" id="Formato" class="form-control">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    @foreach (CinemaPOS.Models.Opcion item in ViewBag.TipoFormato)
                                    {
                                        if (Model.RowID != 0 && item.RowID == Model.FormatoID)
                                        {
                                            <option value="@item.RowID" selected>@item.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@item.RowID">@item.Nombre</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1 ">
                            <div class="form-group">
                                <label class="control-label"># Items:</label>
                                <input value="@Model.Cantidad" name="Cantidad" id="Cantidad" class="form-control solo-numero" readonly>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            @if (Model.RowID == 0)
                            {
                                <input class="btn btn-success" type="submit" value="Crear Venta Empresarial" onclick="guardar_Empresarial()">
                            }
                            else
                            {
                                <input class="btn btn-success" type="submit" value="Actualizar Venta Empresarial" onclick="guardar_Empresarial()">
                            }
                        </div>

                    </div>
                </div>


            </form>
        </div>

        @*****************TAB ASIGNAR EMPRESA******************@
        <div id="RelacionEmpresa" class="tab-pane fade">
            <div id="page-content">
                <div class="panel Ocultar">
                    <form name="formulario_Teatro" id="formulario_Teatro" onsubmit="return false">
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="hidden" name="rowidEmpresarial" value="@ViewBag.RowEmpresa" id="rowidEmpresarial" />
                                <label for="TEATRO">Teatros</label>
                                <select class="form-control" id="rowidTeatro" name="rowidTeatro">
                                    @foreach (var item in (List<CinemaPOS.Models.Teatro>)ViewBag.TeatrosDisp)
                                    {
                                        <option value="@item.RowID">@item.Nombre - @item.Ciudad.Nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <p><br/>
                                    <a onclick="javascript:GuardarTeatro()" class="btn btn-success">Asociar Teatro</a>
                                    @*<a class="btn btn-success" href='javascript:ModalTeatroVentaEmpresarial(@Model.RowID)'><i class="glyphicon glyphicon-plus"></i> Asociar Teatro</a>
                    <a class="btn btn-success" href='javascript:RefrescarTabla(@Model.RowID)' id="pelicula"><i class="glyphicon glyphicon-refresh"></i> Refrescar</a>*@
                                </p>
                            </div>
                        </div>                                                   
                        <table class="table table-hover table-responsive table-bordered table-condensed table-striped" id="TeatroPelicula">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Teatro</th>
                                    <th>Ubicaci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<CinemaPOS.Models.TeatroVentaEmpresarial>)ViewBag.Teatros)
                                {
                                <tr>
                                    <td><input type="checkbox" name="check[]" value="@item.RowID" id="@item.RowID" checked onclick="javascript:eliminarTeatro(this)" /></td>
                                    <td>@item.Teatro.Nombre</td>
                                    <td>@item.Teatro.Ciudad.Nombre</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

        </div>
        @*****************TAB ITEMS ******************@
         <div id="Items" class="tab-pane fade">
            <div id="page-content">
                <div class="panel Ocultar">
                    <div>
                        <div class="panel-body">
                            <form name="formulario_Empresarial_Detalle" id="formulario_Empresarial_Detalle" onsubmit="return false">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Nombre:*</label>
                                            <input type="text" name="NombreItem" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <div class="form-group">
                                            <label class="control-label">Lista de precios:*</label>
                                            <select name="Precios" id="Precios" class="form-control Precioschosen" required>
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @foreach (CinemaPOS.Models.ListaEncabezado pre in ViewBag.ListaPrecios)
                                                {
                                                <option value="@pre.RowID">@pre.Nombre</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label">Cantidad:*</label>
                                            <input type="text" id="CantidadItem" class="form-control" maxlength="8" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input class="btn btn-success" type="submit" value="Adicionar" onclick="guardar_DetalleEmpresarial()">
                                    </div>
                                </div></br>
                            </form>
                            <table class="table table-striped table-bordered tablaItems" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Código</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tablaItems">
                                    @if (ViewBag.listaDetalleEmpresarial != null)
                                    {
                                    foreach (CinemaPOS.Models.DetalleVentaEmpresarial item in ViewBag.listaDetalleEmpresarial)
                                    {
                                    <tr>
                                        <td>@item.RowID </td>
                                        <td>@item.Nombre </td>
                                        <td>@item.Codigo </td>
                                        <td>@item.Estado.Nombre </td>
                                        <td><a href='javascript:EliminarItems(@item.RowID);' class="ion-trash-a"></a></td>


                                    </tr>
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
